<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ma.fudaoxitong">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="机械原理"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ZhujiemianActivity">
        </activity>
        <activity android:name=".Listview_mulu">
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".xulun">
        </activity>
        <activity android:name=".jigou">
        </activity>
        <activity android:name=".jixie">
        </activity>
        <activity android:name=".Three_function">
        </activity>
        <activity android:name="com.example.ma.questions.question">
        </activity>
        <activity android:name="com.example.ma.questions.questionActivity">
        </activity>
        <activity android:name="com.example.ma.questions.ExamActivity">
        </activity>
        <activity android:name="com.example.ma.zhishidian.GearKnowledge">
        </activity>
        <activity android:name="com.example.ma.dongtu.Chilun">
        </activity>
        <activity android:name="com.example.ma.dongtu.GearActivity">
        </activity>
    </application>

</manifest>